
@using Management.Core.Dto.Responses
@using ManagementDashboard.Core.Domain.Entities;
@using Management.Core.Dto.Requests;
@model EditEmployee_Request;

@{
    EditEmployee_Response employee = ViewBag.Employee;
    List<Department_SqlServer> departments = ViewBag.Departments;
    List<Position_SqlServer> positions = ViewBag.Positions;
}

<h3 class="mb-4"><a href="~/hr/employees">Employees</a> > Edit Employee</h3>

<div class="card shadow p-4">
    <form asp-controller="HR" asp-action="EditEmployee" method="post">
        <input asp-for="EmployeeID" type="hidden" value="@employee.EmployeeID" />

        <div class="row mb-3">
            <div class="col-md-6">
                <label class="form-label">Employee ID</label>
                <input type="text" class="form-control" value="@employee.EmployeeID" disabled />
            </div>

            <div class="col-md-6">
                <label asp-for="FullName" class="form-label">Full Name</label>
                <input asp-for="FullName" type="text" class="form-control" value="@employee.FullName" required/>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-6">
                <label asp-for="DateOfBirth" class="form-label">Date Of Birth</label>
                <input asp-for="DateOfBirth" type="date" class="form-control" value="@employee.DateOfBirth?.ToString("yyyy-MM-dd")" required/>
            </div>

            <div class="col-md-6">
                <label asp-for="Gender" class="form-label">Gender</label>
                <select asp-for="Gender" class="form-select">
                    <option selected>@employee.Gender</option>
                    @if(employee.Gender.Equals("Male"))
                    {
                        <option>FeMale</option>
                        <option>Other</option>
                    }
                    @if(employee.Gender.Equals("FeMale"))
                    {
                        <option>Male</option>
                        <option>Other</option>
                    }
                    @if (employee.Gender.Equals("Other"))
                    {
                        <option>Male</option>
                        <option>Female</option>
                    }
                </select>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-6">
                <label asp-for="PhoneNumber" class="form-label">Phone Number</label>
                <input asp-for="PhoneNumber" type="text" class="form-control" value="@employee.PhoneNumber" required/>
            </div>

            <div class="col-md-6">
                <label asp-for="Email" class="form-label">Email</label>
                <input asp-for="Email" type="email" class="form-control" value="@employee.Email" required/>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-6">
                <label asp-for="HireDate" class="form-label">Hire Date</label>
                <input asp-for="HireDate" type="date" class="form-control" value="@employee.HireDate?.ToString("yyyy-MM-dd")" required/>
            </div>

            <div class="col-md-6">
                <label asp-for="DepartmentID" class="form-label">Department ID</label>
                <select asp-for="DepartmentID" class="form-select">
                    @foreach (var department in departments)
                    {
                        if (department.DepartmentId == employee.DepartmentID)
                        {
                            <option value="@department.DepartmentId" selected>@department.DepartmentName</option>
                        }
                        else
                        {
                            <option value="@department.DepartmentId">@department.DepartmentName</option>
                        }

                    }
                    )
                </select>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-md-6">
                <label asp-for="PositionID" class="form-label">Position ID</label>
                <select asp-for="PositionID" class="form-select">
                    @foreach (var position in positions)
                    {
                        if (position.PositionID == employee.PositionID)
                        {
                            <option value="@position.PositionID" selected>@position.PositionName</option>
                        }
                        else
                        {
                            <option value="@position.PositionID">@position.PositionName</option>
                        }
                    }
                </select>
            </div>

          
        </div>

        <div class="text-end">
            <button type="submit" class="btn btn-primary">Update Employee</button>
        </div>
    </form>
</div>

