@{
    string currentUrl = ViewBag.CurrentUrl;
}

@if (ViewBag.CurrentSortBy == ViewBag.ColumnName && ViewBag.CurrentSortOrder == SortOrderOptions.Ascending.ToString())
{
    @if (currentUrl.Contains("hr/employees"))
    {
        <th>
            <a href="~/hr/employees?searchBy=@(ViewBag.CurrentSearchBy)&searchString=@(ViewBag.CurrentSearchString)&sortBy=@(ViewBag.ColumnName)&sortOrderOptions=@(nameof(SortOrderOptions.Descending))">@(ViewBag.DisplayName)</a>
            <i class="fa-solid fa-sort-up"></i>
        </th>
    }
    @if (currentUrl.Contains("payroll/salaries"))
    {
        <th>
            <a href="~/payroll/salaries?searchBy=@(ViewBag.CurrentSearchBy)&searchString=@(ViewBag.CurrentSearchString)&sortBy=@(ViewBag.ColumnName)&sortOrderOptions=@(nameof(SortOrderOptions.Descending))">@(ViewBag.DisplayName)</a>
            <i class="fa-solid fa-sort-up"></i>
        </th>
    }
    @if (currentUrl.Contains("payroll/attendance"))
    {
        <th>
            <a href="~/payroll/attendance?searchBy=@(ViewBag.CurrentSearchBy)&searchString=@(ViewBag.CurrentSearchString)&sortBy=@(ViewBag.ColumnName)&sortOrderOptions=@(nameof(SortOrderOptions.Descending))">@(ViewBag.DisplayName)</a>
            <i class="fa-solid fa-sort-up"></i>
        </th>
    
    }
    @if (currentUrl.Contains("hr/department"))
    {
        <th>
            <a href="#">@(ViewBag.DisplayName)</a>
            <i class="fa-solid fa-sort-up"></i>
        </th>
    }
    @if (currentUrl.Contains("hr/positions"))
    {
        <th>
            <a href="#">@(ViewBag.DisplayName)</a>
            <i class="fa-solid fa-sort-up"></i>
        </th>
    }
}
else if (ViewBag.CurrentSortBy == ViewBag.ColumnName && ViewBag.CurrentSortOrder == SortOrderOptions.Descending.ToString())
{
    @if (currentUrl.Contains("hr/employees"))
    {
        <th>
            <a href="~/hr/employees?searchBy=@(ViewBag.CurrentSearchBy)&searchString=@(ViewBag.CurrentSearchString)&sortBy=@(ViewBag.ColumnName)&sortOrderOptions=@(nameof(SortOrderOptions.Ascending))">@(ViewBag.DisplayName)</a>
            <i class="fa-solid fa-sort-down"></i>
        </th>
    }
    @if (currentUrl.Contains("payroll/salaries"))
    {
        <th>
            <a href="#">@(ViewBag.DisplayName)</a>
            <i class="fa-solid fa-sort-down"></i>
        </th>
    }
    @if (currentUrl.Contains("payroll/attendance"))
    {
        <th>
            <a href="~/payroll/attendance?searchBy=@(ViewBag.CurrentSearchBy)&searchString=@(ViewBag.CurrentSearchString)&sortBy=@(ViewBag.ColumnName)&sortOrderOptions=@(nameof(SortOrderOptions.Ascending))">@(ViewBag.DisplayName)</a>
            <i class="fa-solid fa-sort-down"></i>
        </th>
    }
    @if (currentUrl.Contains("hr/department"))
    {
        <th>
            <a href="#">@(ViewBag.DisplayName)</a>
            <i class="fa-solid fa-sort-down"></i>
        </th>
    }
    @if (currentUrl.Contains("hr/positions"))
    {
        <th>
            <a href="#">@(ViewBag.DisplayName)</a>
            <i class="fa-solid fa-sort-down"></i>
        </th>
    }
}
else
{
    @if (currentUrl.Contains("hr/employees"))
    {
        <th>
            <a href="~/hr/employees?searchBy=@(ViewBag.CurrentSearchBy)&searchString=@(ViewBag.CurrentSearchString)&sortBy=@(ViewBag.ColumnName)&sortOrderOptions=@(nameof(SortOrderOptions.Ascending))">@ViewBag.DisplayName</a>
        </th>
    }
    @if (currentUrl.Contains("payroll/salaries"))
    {
        <th>
            <a href="~/payroll/salaries?searchBy=@(ViewBag.CurrentSearchBy)&searchString=@(ViewBag.CurrentSearchString)&sortBy=@(ViewBag.ColumnName)&sortOrderOptions=@(nameof(SortOrderOptions.Ascending))">@ViewBag.DisplayName</a>
        </th>
    }
    @if (currentUrl.Contains("payroll/attendance"))
    {
        <th>
            <a href="~/payroll/attendance?searchBy=@(ViewBag.CurrentSearchBy)&searchString=@(ViewBag.CurrentSearchString)&sortBy=@(ViewBag.ColumnName)&sortOrderOptions=@(nameof(SortOrderOptions.Ascending))">@ViewBag.DisplayName</a>
        </th>
    }
    @if (currentUrl.Contains("hr/department"))
    {
        <th>
            <a href="#">@ViewBag.DisplayName</a>
        </th>
    }
    @if (currentUrl.Contains("hr/positions"))
    {
        <th>
            <a href="#">@ViewBag.DisplayName</a>
        </th>
    }
   
}

<style>
    a {
        text-decoration: none;
    }
</style>

